1 # History files 
2 .Rhistory 
3 .Rapp.history 
4 
 
5 # Example code in package build process 
6 *-Ex.R 
7 
 
8 # RStudio files 
9 .Rproj.user/ 
10 
 
11 # produced vignettes 
12 *.html 
13 *.pdf 
14 
 
15 # OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3 
16 .httr-oauth 
